{% for category in pager.getCurrentPageResults() %}
    {% if category.page %}
        {% set url = rz_render_page_alias_url(category.page.getPageAlias()) %}
    {% else %}
        {% set url = null %}
    {% endif %}
    <div class="pad20"></div>
    {% if category.media %}
        {% if category.media.providerName  == 'sonata.media.provider.image' %}
            <div class="hover_img">
                <a href="{%  path category.media, 'reference' %}" data-rel="prettyPhoto"><img src="{%  path category.media, 'reference' %}" alt=""/></a>
            </div>
        {% else %}
            <div class="vendor">
                {% media category.media, 'reference' %}
            </div>
        {% endif %}
    {% endif %}
    <h1 class="blog"><a href="{% if  url %}{{ path(url) }}{% else %}#{% endif %}">{{ category.name }}</a></h1>
    <p>{{ category.description }}</p>
    <h4><a href="{% if  url %}{{ path(url) }}{% else %}#{% endif %}"><b>READ &rarr;</b></a></h4>

    <!--end post-->
    <div class="pad30"></div>
{% else %}
    <div class="row-fluid sonata-blog-post-list">
        <div class="span12">
            {{ 'no_post_found'|trans({}, 'RzClassificationBundle') }}
        </div>
    </div>
{% endfor %}