{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="posts">
        {% for category in pager.getCurrentPageResults() %}
            {% if category.page %}
            {% set url = rz_render_page_alias_url(category.page.getPageAlias()) %}
            {% else %}
                {% set url = null %}
            {% endif %}
            <div class="pad20"></div>
            {% if category.media %}
                {% if category.media.providerName  == 'sonata.media.provider.image' %}
                    <div class="hover_img">
                        <a href="{%  path category.media, 'reference' %}" data-rel="prettyPhoto"><img src="{%  path category.media, 'reference' %}" alt=""/></a>
                    </div>
                {% else %}
                    <div class="vendor">
                        {% media category.media, 'reference' %}
                    </div>
                {% endif %}
            {% endif %}
            <h1 class="blog"><a href="{% if  url %}{{ path(url) }}{% else %}#{% endif %}">{{ category.name }}</a></h1>
            <p>{{ category.description }}</p>
            {#<p>{{ category.content|raw }}</p>#}
            <h4><a href="{% if  url %}{{ path(url) }}{% else %}#{% endif %}"><b>READ &rarr;</b></a></h4>

            <!--end post-->
            <div class="pad30"></div>
        {% else %}
            <div class="row-fluid sonata-blog-post-list">
                <div class="span12">
                    {{ 'no_post_found'|trans({}, 'RzClassificationBundle') }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pager and pager.haveToPaginate %}
        {% spaceless %}
            <div id="load_more_container" class="pagination">
                <ul class="span12">
                    {% if pager.hasNextPage %}
                        <li style="text-align: center;">
                            <a id="load_more_button"
                               class="btn btn-rzcms-theme"
                               href="{{ url('rz_classification_category_load_more', {'page': pager.nextPage, 'categoryId': category.id, 'blockId': block.id }) }}"
                               title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">Load More</a>
                        </li>
                    {% endif %}
                </ul>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var rz_news_post_loadmore_js = new rz_news_post_loadmore({
                            load_more_container: "load_more_container",
                            load_more_button: "load_more_button",
                            field_container: 'posts'
                        });
                    });
                </script>
            </div>
        {% endspaceless %}
    {% endif %}
    <div class="clearfix"></div>
{% endblock %}